.center {
	position: absolute;
	left: 50%;
	top: 50%;
}

.border10R {
	border-radius: 10px;
}

.loginBox {
	background-color: #f3f3f3;
	width: 250px;
	height: 270px;
	margin-left: -145px;
	margin-top: -200px;
	padding: 20px;
}

.loginBox h3 {
	margin-top: 0px;
}

.loginBox > input {
	width: 100%;
}

.loginBox label {
	margin-bottom: 0px;
	margin-top: 10px;
}

.password label, .user label {
	display: inline;
	float: left;
}

.password a, .user i {
	display: inline;
	float: right;
}

.user i{
 font-size:16px;
}

.signIn {
 width: 100%;
}
.signIn input, .signIn label {
	display: inline-block;
}

.signIn button {
	float:right;
	margin: 5px 0px 0px 0px;
}

.holidays {
	width: 360px;
	border: solid 1px orange;
	margin-top: 160px;
	margin-left: -190px;
	padding: 0 10px;
	box-sizing: context-box;
}

.centerContent {
	text-align: center;
}

.holidays p, .holidays h6 {
	margin: 0px;
}

.holidays h6{
	display: inline;
}

.holidays img {
	margin: -28px 0 0 147px;
	background-color: #f6f6f6;
	padding: 0 10px;
}
