header > .container {
	margin-right:0px;
	margin-left:10px;
}

.loginBox {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color: #f3f3f3;
	width: 250px;
	height: 270px;
	margin-left: -125px;
	margin-top: -130px;
	padding: 20px;
	box-sizing: border-box;
}

.loginBox h3 {
	margin-top: 0px;
}

.loginBox > input {
	width: 210px;
}

.loginBox label {
	margin: 0px;
}

.userNav, .selectr {
	float: right;
	margin:0px 5px 0px 0px;
}

.password label, .user label {
	display: inline;
	float: left;
}

.password a, .user i {
	display: inline;
	float: right;
}

.user i{
 font-size:16px;
}

.signIn {
 width: 210px;
}
.signIn input, .signIn label {
	display: inline-block;
}

.signIn button {
	float:right;
	margin: 0px;
}

.holidays {
	width: 360px;
	border: 1px;
	margin-top: 180px;
	margin-left: -190px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-width: 1px;
	border-color: orange;
	border-style: solid;
	border-radius: 10px;
	padding: 0 10px;
	box-sizing: context-box;
}

.holidays h1 {
	text-align: center;
}

.holidays p, .holidays h6 {
	text-align: center;
	margin: 0px;
}

.holidays h6{
	display: inline;
}

.holidays img {
	margin: -28px 0 0 147px;
	background-color: #f6f6f6;
	padding: 0 10px;
}
